* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(90deg, rgb(2, 2, 2) 0%, rgb(126, 126, 126) 35%, rgb(254, 255, 255) 100%);
    color: #ffffff
}

header {
    background-color: #000000;
    color: #ffffff;
    height: 5%;
    padding: 20px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: bold;
}

.container {
    position: relative;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin: 20px;
    font-family: 'Roboto';
    text-align: left;
}

th {
    padding: 10px 3px 10px 3px;
    
}

td {
    padding: 3px;
    font-family: 'Roboto';
}

button {
    font-size: 1rem;
    margin: 0 5px 0 5px;
}

input {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    padding: 3px;
    box-sizing: border-box;
}
